.cart{
    padding: 0px;
    cursor: pointer;
}

.cart > a{
    padding: 0px!important;
}

.navbar{
    background-color: transparent !important;
}

.divider{
    border-bottom: 1px solid #ddd;
}

.cart-options{
    text-align: center;
    line-height: 40px;
    margin: 0px;
}

.cart-options>div:hover{
    cursor: pointer;
    text-decoration: underline;
}

#clear-cart{
    border-right: 1px solid #ddd;
}

.cart-container{
    position: absolute;
    right: 20px;
    top: 50px;
    list-style: none;
    z-index: 2;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    padding: 0;
    -webkit-box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.2);
}

.cart-item{
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item > svg {
    cursor: pointer;
    margin-right: 10px;
}